#container{
    height: 350px;
    width: 910px;
    background-color: lightblue;
     margin:20px auto;
    border:2px solid black;
    display:flex;
    flex-direction:row; 
    /* flexbox direction in row is left to right and in row reverse is right to left */
}
#container div{
    height:50px;
    width:130px;
   text-align:center;
    font-size:20px;
}
