div{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}
#box1{
    background-color:rgb(111, 210, 111);
    position: relative;
     z-index: -1;
}
#box2{
    background-color: beige;
    position: relative;
    right: 60px;
    top: 30px;
     z-index: 0;
}
#box3{
    background-color: aqua;
    position: relative;
    right: 120px;
    top: 60px;
     z-index: 1;
}
