#container1{
    height:400px;
    width:910px;
    background-color:lightblue;
    margin:20px auto;
    border:2px solid black;
    display:flex;
    flex-direction:row;
    /* flexbox direction in column is top to bottom and in column reverse is bottom to top */
    align-content: flex-start;
    
}
#container1 div{
    height: 100px;
    width:300px;
   text-align:center;
    font-size:20px;
    text-align:center;
}
#gre{
    align-self: flex-start;
}
#yel{
    align-self: center;
}
#org{
    align-self: flex-end;
}