div{
    display: inline-block;
    margin: 10px;
    
}
#box1{
    height: 500px;
    width: 800px;
    background-image: url(photo1.jpg);
    background-size: cover;
}
#box2{
    height: 500px;
    width: 800px;
        background-image: url(photo2.jpg);
    background-size: cover;
}
#box3{
    height: 500px;
    width: 800px;
    background-image: url(photo3.jpg);
    background-size: cover;
}
#box4{
    height: 500px;
    width: 800px;
    background-image: url(photo4.jpg);
    background-size: cover; 
}