div{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    display: inline-block;
}
#box1{
    background-color:rgb(111, 210, 111);
    position: static;
    /* static - default position (The top, right, bottom, left, and z-index properties have no effect) */
}
#box2{
    background-color: beige;
    position: relative;
    top: 20px;
    left: 20px;
    /* relative - positioned relative to its normal position */
}
#box3{
    background-color: aqua;
    position: absolute;
    top: 500px;
    left: 50px;
    /* absolute - positioned relative to the nearest positioned ancestor (instead of positioned relative to the viewport, like fixed) */
}
