div{
    width: 100px;
    height: 100px;
    background-color: pink
}
#box1, #box2{
    margin: 20px;
    transition: all 0.5s ease-in-out;
    display: inline-block;
    transition-delay:0.5s;
}
#box1:hover, #box2:hover{
    background-color:lightblue;
    border-radius: 50%;
}
