div{
    width: 100px;
    height: 100px;
    background-color: pink
}
#box1, #box2{
    margin: 20px;
    transition: all 0.5s ease-in-out;
    display: inline-block;
    transition-delay:0.5s;
}
#box1:hover, #box2:hover{
    background-color:lightblue;
    border-radius: 50%;
}
#box3{
    margin: 20px;
    margin:0 auto;
    transition: margin-top 2s ease-in-out 0.2s;
    /* transition-delay:0.5s; */
}
#box3:hover{
    background-color: green;
    margin-top: 400px;   
}
#box4{
    transform: rotate(45deg);
}
#box5{
    margin:0 auto;
}
