#container1{
    height:350px;
    width:910px;
    background-color:lightblue;
    margin:20px auto;
    border:2px solid black;
    display:flex;
    flex-direction:row;
    /* flexbox direction in column is top to bottom and in column reverse is bottom to top */
    justify-content : space-evenly;
    flex-wrap: wrap;
}
#container1 div{
    height:50px;
    width:50px;
   text-align:center;
    font-size:20px;
    text-align:center;
}
#vio{
    flex-basis: 100px;
}
#container2{
    height:350px;
    width:910px;
    background-color:lightblue;
    margin:20px auto;
    border:2px solid black;
    display:flex;
    flex-direction:column;
    /* flexbox direction in column is top to bottom and in column reverse is bottom to top */
    justify-content : space-evenly;
    flex-wrap: wrap;
}
#container2 div{
    height:50px;
    width:50px;
   text-align:center;
    font-size:20px;
    text-align:center;
}
#ind{
    flex-basis: 100px; 
}
#container3{
    height:350px;
    width:910px;
    background-color:lightblue;
    margin:20px auto;
    border:2px solid black;
    display:flex;
    flex-direction:row;
    /* flexbox direction in column is top to bottom and in column reverse is bottom to top */
    /* justify-content : space-evenly; */
    flex-wrap: wrap;
}
#container3 div{
    height:50px;
    width:50px;
   text-align:center;
    font-size:20px;
    text-align:center;
}
#blu{
    flex-grow: 1;
}
#container4{
    height:350px;
    width:910px;
    background-color:lightblue;
    margin:20px auto;
    border:2px solid black;
    display:flex;
    flex-direction:row;
    /* flexbox direction in column is top to bottom and in column reverse is bottom to top */
    /* justify-content : space-evenly; */
    /* flex-wrap: wrap; */
}
#container4 div{
    height:50px;
    width:200px;
   text-align:center;
    font-size:20px;
    text-align:center;
}
#gre{
    flex-shrink: 2;
}