h4{
    text-align:center;
}
  #container1{
    height:350px;
    width:910px;
    background-color:lightblue;
    margin:20px auto;
    border:2px solid black;
    display:flex;
    flex-direction:row;
    /* flexbox direction in column is top to bottom and in column reverse is bottom to top */
    justify-content : flex-start;
}
#container1 div{
    height:50px;
    width:50px;
   text-align:center;
    font-size:20px;
    text-align:center;
}
#container2{
    height:350px;
    width:910px;
    background-color:lightblue;
    margin:20px auto;
    border:2px solid black;
    display:flex;
    flex-direction:row-reverse;
    /* flexbox direction in column is top to bottom and in column reverse is bottom to top */
    justify-content : flex-end;
}
#container2 div{
    height:50px;
    width:50px;
   text-align:center;
    font-size:20px;
    text-align:center;
}
#container3{
    height:350px;
    width:910px;
    background-color:lightblue;
    margin:20px auto;
    border:2px solid black;
    display:flex;
    flex-direction:column;
    /* flexbox direction in column is top to bottom and in column reverse is bottom to top */
    justify-content : flex-start;
}
#container3 div{
    height:50px;
    width:50px;
   text-align:center;
    font-size:20px;
    text-align:center;
}
#container4{
    height:350px;
    width:910px;
    background-color:lightblue;
    margin:20px auto;
    border:2px solid black;
    display:flex;
    flex-direction:column-reverse;
    /* flexbox direction in column is top to bottom and in column reverse is bottom to top */
    justify-content : flex-end;
}


